h1, input{

	 font-family: "Courier";
	 border-radius: 4%;

}
.cor {
	background-color: #98FB98;
}
.corbotaolimpar{
	background-color: #FF7F50;
}
.corbotaoigual{
	background-color: #FF7F50;
}